<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBName" value="integrationtest"/>
    <add key="Username" value="integrationtest"/>
    <add key="Password" value="nontelodico21lolmmn"/>
    <add key="Host" value="ds046027.mlab.com" />
    <add key="Port" value="46027"/>
  </appSettings>
</configuration>