body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#santaClauseLogo{
    width: 70%; 
    margin-top: 1px;
}

.customNavbarHeader{
    width:15%;
}

.customNavbar{
    background:#620012; 
    border-color:none;
}
.customBody {
    width:100%; 
    height:auto; 
    background-image:url('../../Photo/christmasWhiteBalls.jpg'); 
    background-repeat:repeat-y; 
    background-size:cover;
}

.renderBody{
     width:100%; 
     height:100%;
}

.customFooter{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background:#620012;
}

.customPSCV{
    color:#E0E0FF; 
    text-align:center; 
    margin-top:5px; 
    margin-bottom:0px
}

.customPPF{
    color:#E0E0FF; 
    text-align:center; 
    margin-bottom:5px;
}

#loginbox{
    margin-top:50px;
}
.customLoginBtn{
    background:#620012;
    color:#E0E0FF;
    border-bottom: none;
}

.customPanelHeading{
    text-align:center;
}

.customTableOrder{
    width:80%;
    background-color:white;
    border:1px solid #620012;
    margin-left:auto; 
    margin-right:auto;
    margin-top:40px;
    margin-bottom:70px;
}

.tdDetail{
    vertical-align:middle !important;
}

#customTableDetails{
    border-collapse:unset;
    width:40%;
}

#customToyListTable{
    border-collapse:unset;
    width:40%;
}

.customHeadTable {
  color: #E0E0FF;
  background-color: #620012;
  border-color: #E0E0FF;
  height:50px;
}

.customThHead{
     text-align:center;
     border-bottom:0px !important;
     vertical-align:middle !important;
}

#customAvailableSpan{
    background-color:#23f502; 
    display:inline; 
    margin-left:20px; 
    cursor:pointer;
}

#customNotAvailableSpan{
    background-color:red; 
    margin-left:20px; 
    cursor:pointer;
}

#modelStatus{
     float:left;
}

#radioChangeStatus{
    float:right;
}

#customInputSaveStatus{
    padding:3px 12px;
}

.customBackButton{
    margin-left:30px;
    margin-bottom:30px;
    height:50px;
}


